[Desktop Entry]
Type=Application
Name=Internet
Exec=chromium-browser
Icon=/usr/share/seniorenslim/icons/internet.png
Terminal=false
Categories=Utility;
